@use 'variaveis';

.elenco{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin: 50px;
    
    &__cards{
        
        
        :hover{
            transition: ease 1s;
            transform: scale(110%);
        }
        &__img{

            img{
                width: 250px;
                height: 250px;
            }
        }

    }
}