header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 50px;
        margin-left: 20px;
        cursor: pointer;
    }
    nav{
        ul{
            display: flex;
            list-style: none;
            margin-right: 20px;

            li{
                
                padding-right: 20px;
                
            }
        }

    }
}